.App {
  width: 100vw;
  height: 100vh;
  background-color: #191919;
}

.price {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: "Inter", "Courier New", Courier, monospace;
  font-size: 3em;
  padding-top: 10vh;
  margin-bottom: 10vh;
}

@media screen and (max-width: 600px) {
  .price {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  .indicators {
    font-size: 2em;
  }
}

@media screen and (max-width: 360px) {
  .indicators {
    font-size: .5em;
  }
}

@media screen and (max-width: 260px) {
  .indicator {
    display: none;
  }
}

@media screen and (max-width: 100px) {
  .price {
    font-size: .5em;
  }
}
  

.graph {
  max-width: 90vw;
  margin: 0 auto;
  margin-top: 5vh;
  display: flex;
  justify-content: center;
  border-bottom: rgba(255,255,255,0.1) dashed thin;
  border-top: rgba(255,255,255,0.1) dashed thin;
}

.indicators {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.indicator {
  margin: 0;
  color: white;
  font-family: "Inter", 'Courier New', Courier, monospace;
  font-size: 1em;
}

@media screen and (max-width: 1168px) {
  .indicator {
    font-size: 0.5em;
  }
}

.candles {
  width: 90%;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  display: flex;
}

.candle {
  width: 5vw;
  margin-top: auto;
}

.candle__outerline {
  margin: 0 auto;
  position: relative;
  display: flex;
  justify-content: center;
  width: 1vw;
}

.candle__innerline {
  position: absolute;
  bottom: 0;
  width: 4vw;
}

.candle__tooltip {
  position: fixed;
  z-index: 1;
  font-family: "Inter", "Courier New", Courier, monospace;
  background-color: rgba(28, 28, 28, .7);
  color: white;
  width: fit-content;
  padding: 2%;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.candle__tooltip p {
  margin: 0;
}

.hidden {
  display: none;
}